* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
p {
  font-family: Lato;
}
.table {
  border: solid 1px red;
  padding: 10px;
}
.table_header {
  font-weight: bold;
  text-align: center;
  border: solid 1px #000;
}
.table tr:nth-child(2n) {
  background-color: #b9f5b0;
}

.table td {
  padding: 3px 10px;
  border: none;
}
